body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

h1 {
    background-color: lightsalmon;
    font-family: 'Courier New', Courier, monospace;
    padding: 100x;
}
header h1 {
    margin: 0;
}
section {
    display:inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 50px;
    transition: all 0.5s;
}

main > section {
    border: solid 1px black;
    display: inline-block;
    margin: 30px
}

header, footer {
    background-color: lightsalmon;
    text-align: center;
    padding: 30px 10vh;
}

section:hover {
    opacity: 5;
    transform: rotate(360deg);
}

section p {
    margin: 15px 10px 30px 10px;
}

header {
    border: solid 2.5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}